.links {
/*  background-color: pink; */
}

.links .hintKey {
    position: absolute;
/*  left: -3px; */
    display: inline;
    opacity: 0.7;
    padding: 3px;
    background-color: #f11;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
    text-align: center;
    z-index:10000000;
}
#selectorConsole {
    display: none;
    z-index: 10000000;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
#selectorConsole table {
    width: 100%;
}
#selectorConsole td {
    text-align: left;
    padding: 5px;
    color: #fff;
    font-size: 11pt;
}
#selectorConsole td span.url {
    padding-left: 20px;
    font-size: 10pt;
    color: #aaf;
}
#selectorConsole tr.selected {
    background-color: #0d0;
}
#selectorConsole tr.selected td {
    color: #000;
}
#selectorConsole tr.selected td span.url {
    color: #009;
}

#selectorConsole input {
    opacity: 0.9;
    background-color: #000;
    width: 100%;
    height: 20px;
/*     padding: 5px; */
    color: #fff;
    font-size: 11pt;
}
